<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Exercise
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Walk 2 mi/hr (30min pace)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Walk 3 mi/hr (20 min pace)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Walk 4 mi/hr (15 min pace)</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Run 6 mi/hr (10 min pace)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Run 8 mi/hr (7.5 min pace)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Run 10 mi/hr (6 min pace)</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bike 10 mi/hr</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bike 16 mi/hr</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Swim (slow pace)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Swim(fast pace)</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hiking</a></li>
  </ul>
</div>
