<div class="column-xs-8">
  <%= form_tag(exercises_path, method: :get)  do %>

    <p>
      <%= text_field(:food_search, nil, autocomplete: "off", 
                      placeholder: "search for food", class: "form-control black-text typehead centered user-search-box tt-dropdown-menu", id: "scrollable-dropdown-menu", required: true) %>
    </p>
    <% if current_user.nil? %>
    <p>
      <%= number_field_tag(:weight, nil, placeholder: "enter weight", min: 50, class: "form-control black-text", required: true) %>
   </p>
    <% end %>
   <p class="centered">
      <%= submit_tag 'EARN IT NOW!', class: 'btn btn-success', id: "find-food", disabled: true %>
    </p>

  <% end %>
</div>
