<div>
  <div class="row">

    <div class="col-xs-7 center" >
      <div class="center" id="app-explanation">
      <h1> Burn it to Earn It </h1>
        <h3> You want a juicy burger but you're concerned about the number of calories? Go ahead and eat it! Search for a food and enter your weight. We'll tell you <em><br>HOW to BURN IT OFF!</em>
        </h3>
        <br>
        <div class='col-xs-6'>
          <%= render 'food_search_home' %>
        </div>

      </div>
    </div>
  </div>
  
</div>