<div>
  <div class="row">

    <div class="col-xs-12" >
      <div class="col-xs-3 pull-right" id="app-explanation">
      <h2> Burn it to Earn It </h2>
        <p>  So you want a juicy burger, but you're concerned about the number of calories? <br>
              Go ahead and eat it! We'll tell you how to burn it off!
        </p>
         <div class="btn btn-success white-text">
          <%= link_to 'EARN IT NOW!', exercises_path,method: :get %>
        </div>
      </div>
    </div>
  </div>
  
</div>