<div>
  <div class="row">

    <div class="col-xs-7 center" >
      <div class="center" id="app-explanation">
      <h2> Burn it to Earn It </h2>
        <p> You want a juicy burger, but you're concerned about the number of calories?
              Go ahead and eat it! We'll tell you how to burn it off!
        </p>

        <div class='col-xs-6'>
          <%= render 'food_search_home' %>
        </div>

      </div>
    </div>
  </div>
  
</div>