.navbar {
  border: 0px;
}

.navbar-transparent{
  padding-right: 30px;
}

.nav-margin {
color: #fff;

} 

.twitter-name-correction {
  margin-top: 15px;
  margin-right: 15px;
}

.nav-black-margin {
  color: #fff;
  background: #000;
  border-radius:0px;
  padding-right: 30px;
} 

ul.nav li {
  color: #fff !important;
  font-weight: bold;
  padding: 10px;
  vertical-align: middle;

}

ul.nav-right li {
  padding-right: 30px;
}

ul.nav li a, ul.nav li a:visited {
  color: #fff !important;
  font-weight: bold;
}

ul.nav li a:hover, ul.nav li a:active {
  color: #FFD700 !important;
  background: transparent;
}

.table-margin {
  margin-left: 50px;
  margin-top: 30px;
  display:block;
}