.home-pg-image { 
  background: asset-url("runner_female.jpg"); 
  background-size: cover;
  height:100vh;
}

#app-explanation {
  position:relative;
  color: white;
  margin-top: 135px;
  margin-right: 20px;
  font-size: 1.5em;
  margin-left: auto;
}

.center {
  text-align: center;
}

/*Change earn it now button text to white*/
a {
  color: #fff;
}

img.opacity {
  opacity:0.6;
}

.black-text{
  color:#000;
  text-align: center;
}

// .black-text#scrollable-dropdown-menu {
//   font-size: .65em;
// }

.typeahead.dropdown-menu {
  max-height: 200px!important;
  overflow-y: auto!important;
}