.home-pg-image { 
  background: asset-url("big_burger.jpg"); 
  background-size: cover;
  height:100vh;
}

#app-explanation {
  text-align: right;
  position:relative;
  color: white;
  margin-top: 65px;
  margin-right: 20px;
  font-size: 1.5em;
  margin-left: auto;
}

/*Change earn it now button text to white*/
a {
  color: #fff;
}
