img.img-circle.img-thumbnail.user-image {
  height: auto;
  width: 150px;
}

.user-show-image { 
  background: asset-url("paper_background.jpg"); 
  background-size: cover;
  height:100vh;
}

.centered {
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
}

.food-selector {
  margin-top: 5px;
}

.table-hidden {
  display: none;
}

.search-box {
  margin-bottom: 60px;
}

li {
list-style-type: none;
}

.user-search-box {
  width: 280px;
}

// #edit a{
//   color:#0000ff;
//   text-align: center;
// }

.pad-right {
  padding-right: 30px;
}

.pad-right2 {
  padding-right: 20px;
}

.side-by-side label.inline {
  padding: 20px;
}

.pad-left {
  padding-left: 60px;
}

.pad-top {
  padding-top: 40px;
}

.search-box {
   margin: 0 auto; //this centers the button and input field item
}

.form-inline .form-control {
  width: 280px;
}

.table > tfoot > tr > td {
  line-height: .8em;
}

.pagination a {
  color: black;
}

.word-link {
  a, p {
    color: #694489;
    text-decoration: none;
  }

    a:hover {
      color: red;
    }
}