img.img-circle.img-thumbnail.user-image {
  height: auto;
  width: 150px;
}

.centered {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.food-selector {
  margin-top: 5px;
}

.table-hidden {
  display: none;
}

.search-box {
  margin-bottom: 60px;
}

li {
list-style-type: none;
}

.user-search-box {
  
  width: 200px;
}

#edit a{
  color:#0000ff;
  text-align: center;
}
