img.img-circle.img-thumbnail.home-image {
  height: 200px;
  width: 200px;
}

.centered {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.food-selector {
  margin-top: 5px;
}

.table-hidden {
  display: none;
}

.search-box {
  margin-bottom: 60px;
}